<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 该文件自动生成,请谨慎修改.不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.github.dataflow.dubbo.dao.DataUserDao">

    <resultMap id="RM_DataUser" type="com.github.dataflow.dubbo.model.DataUser">
        <result property="id" column="ID"/>
        <result property="username" column="USERNAME"/>
        <result property="password" column="PASSWORD"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        <![CDATA[
			ID,USERNAME,PASSWORD
	    ]]>
    </sql>

    <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
	        INSERT INTO data_user (
	        	ID ,
	        	USERNAME ,
	        	PASSWORD 
	        ) VALUES (
	        	#{id} ,
	        	#{username} ,
	        	#{password} 
	        )
	    ]]>
    </insert>

    <!-- update -->
    <sql id="update_sql">
        <set>
            <if test="username != null and username != ''">
                USERNAME = #{username} ,
            </if>
            <if test="password != null and password != ''">
                PASSWORD = #{password}
            </if>
        </set>
    </sql>

    <update id="update">
        UPDATE data_user
        <include refid="update_sql"/>
        WHERE
        ID = #{id}
    </update>

    <!-- delete -->
    <delete id="delete">
        <![CDATA[
        	DELETE FROM data_user 
        	WHERE
        		ID = #{id} 
    	]]>
    </delete>

    <delete id="deleteBatch">
        DELETE FROM data_user WHERE id IN
        <foreach item="ids" collection="list" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <!-- selsect -->
    <select id="getById" resultMap="RM_DataUser">
        SELECT
        <include refid="columns"/>
        FROM data_user
        WHERE
        ID = #{id}
    </select>

    <sql id="findPage_where">
        <where>
            <if test="id != null">
                AND ID = #{id}
            </if>
            <if test="username != null and username !=''">
                AND USERNAME = #{username}
            </if>
            <if test="password != null and password !=''">
                AND PASSWORD = #{password}
            </if>
        </where>
    </sql>

    <select id="countByCondition" resultType="long">
        SELECT COUNT(1)
        FROM data_user
        <include refid="findPage_where"/>
    </select>

    <select id="findByCondition" resultMap="RM_DataUser">
        SELECT
        <include refid="columns"/>
        FROM data_user
        <include refid="findPage_where"/>
    </select>


</mapper>
